$roboto-font-path: '../assets/';

// Materialize styles
@import 'materialize';

// ember-cli-materialize styles
@import 'ember-cli-materialize';
@import 'base';
@import 'dashboard';
@import 'login';
@import 'footer';
@import 'main';
@import 'sign-up';

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();


.header-container {
  color: white;
  background: #541D37;
}

.header-container_items {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: url('/polkadot.jpg');
  box-shadow: 2px 2px 10px black;

  z-index: 1;
}

.text-box {
  text-align: center;

}

.card {
  background: #e2f1f6;
  padding: 1rem;
}

.button-box {
  display: flex;

  justify-content: space-between;
  padding-right: 5rem;
  padding-left: 5rem;

  .btn {
    border-radius: 0;
  }
}

.about-container {
  padding: 3rem 0;
  background: #541D37;
  color: white;
  overflow: auto;
}
