$roboto-font-path: '../assets/';

// Materialize styles
@import 'materialize';

// ember-cli-materialize styles
@import 'ember-cli-materialize';
@import 'dashboard';
@import 'login';
@import 'footer';
@import 'main';
@import 'sign-up';

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();


.header-container {
  background: #e7bd3b;
}

.header-container_items {
  display: flex;
}

.button-box {
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;
  padding-left: 5rem;
}
