.dashboard-container {
  width: 100%;

  margin: auto;
  background: #e2f1f6;
}

.content-container{
  max-width: 65rem;
  margin: auto;
  display: flex;
  // background-image: url(http://www.absoluteanime.com/kirby/cleaning_kirby.jpg);
   background: #e2f1f6;

}

.sidebar {
  min-width: 30rem;
  padding-left: 2rem;
  padding-bottom: 1rem;

   background: #e2f1f6;
}

.main-content {

}

.main-items {
  width: 35rem;
  padding-left: 2rem;

  // background: pink;
}
