.about-container {
  text-align: center;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.parent-header {
  width: 100%;
  margin: auto;
  background: #e7bd3b;
  overflow: auto;
}

.dashboard-container {
  width: 100%;

  margin: auto;
  background: #e2f1f6;
}

.row {
background: #e2f1f6;
box-shadow: 10px 5px 5px black;
}
.content-container {
  // max-width: 75rem;
  overflow: auto;
  display: flex;
  margin: auto;
  // background-image: url(http://www.absoluteanime.com/kirby/cleaning_kirby.jpg);
  background: #e2f1f6;
  box-shadow: 10px 5px 5px black;


}

.sidebar {
  // min-width: 30rem;
  padding-bottom: 1rem;
  padding-left: 2rem;

  background: #e2f1f6;
}

.main-content {
  padding-bottom: 1rem;
  padding-left: 5rem;
  background: #e2f1f6;
  overflow: auto;
}

.main-items {

  padding-left: 2rem;

  // background: pink;
}

.child-items {
  padding-left: 2rem;
}
