.footer {
  width: 65rem;
  margin: auto;

}

.footer-animation {
  width: 65rem;
  margin: auto;
  background: grey;


}

.footer-information {
  width: 65rem;
  margin: auto;
  background: orange;

}
