.footer {
  width: 65rem;
  margin: auto;

}

.footer-animation {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 65rem;
  margin: auto;

   background: #9696ab;


}

.footer-information {
  display: flex;
  width: 65rem;
  margin: auto;
  background: #e7bd3b;

}
