.main {
  display: flex;
}

.parent-login-form {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  background: brown;
  // text-align: center;

}

.child-login-form {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  background: brown;
}

.big-container {
  display: flex;
}

.child-pic {

}
