.main {
  display: flex;
}

.row {
  overflow: auto;
}
.parent-login-form {
  display: flex;
  justify-content: center;
  // width: 50%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  background: #9D003C;
  // text-align: center;
  box-shadow: 10px 5px 5px black;
}

.child-login-form {
  display: flex;
  justify-content: center;
  // width: 50%;
  padding-bottom: 2rem;
  padding-left: 3rem;
  background: #9D003C;
  box-shadow: 10px 5px 5px black;
}

.big-container {
  display: flex;
}

.child-pic {

}
