{{outlet}}

{{model.username}}

<ul>
  {{#each model.assignments as |a|}}
    <li>
      {{a.chore.name}}
    </li>
  {{/each}}
</ul>
{{#link-to "dashboard.parent"}}
<button class="waves-effect waves-light btn">Return</button>
{{/link-to}}
