<div class="dashboard-container box ">
  <div class="dashboard-container_items">
    <h2 class="dashboard-text dashboard-item"></h2>
  </div>

    {{#link-to "dashboard.child.store"}}
      <button class="waves-effect waves-light btn">Rewards</button>
    {{/link-to}}
    {{#link-to "dashboard.child.assignment"}}
      <button class="waves-effect waves-light btn">Chores List</button>
    {{/link-to}}
    {{#link-to "logout"}}
      <button class="waves-effect waves-light btn">logout</button>
    {{/link-to}}

<div class="row">
  <div class="col s12 m4 l3">
{{!-- <div class="content-container"> --}}
  <div class="sidebar card">
    <div class="sidebar-content">
      <h2>{{model.username}}</h2>
      <h2>{{model.pointTotal}}</h2>
    </div>
  </div>

</div>

<div class="col s12 m8 l9">
  <div class="child-items">
    <div class="card">{{outlet}}</div>
</div>
</div>
</div>

</div>
