<div class="dashboard-container">
  <div class="dashboard-container_items">
    <h2 class="dashboard-text dashboard-item">Dashboard</h2>
  </div>
</div>

<div class="content-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <h2>Kid List</h2>
      <p>kid 1</p>
      <p>kid2</p>
      <p>kids3</p>
    <button>New Kid</button>
  </div>
  </div>
  <div class="main-content">
    <div class="main-items">
      <h2>Choices</h2>
        <p>New Chore
        <button>Add Chore</button>
      </p>
      <p>New Reward
      <button>Add Reward</button>
    </p>
    <img src="" alt="">
    </div>
  </div>
</div>
  <div class="footer">
    <div class="footer-animation">
      <h2>Look at my pretty animation</h2>
      <div class="footer-information">
        <h2>Footer Info</h2>
      </div>
    </div>
  </div>




{{outlet}}
