<div class="dashboard-container">
  <div class="dashboard-container_items">
    <h2 class="dashboard-text dashboard-item">Child Dashboard</h2>
  </div>

    {{#link-to "dashboard.child.store"}}
      <button class="waves-effect waves-light btn">Rewards</button>
    {{/link-to}}
    {{#link-to "dashboard.child.assignment"}}
      <button class="waves-effect waves-light btn">Chores List</button>
    {{/link-to}}
    {{#link-to "logout"}}
      <button class="waves-effect waves-light btn">logout</button>
    {{/link-to}}
</div>

<div class="content-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <h2>{{model.username}}</h2>
      <h2>{{model.pointTotal}}</h2>
    </div>
  </div>
    <div class="">
      {{outlet}}

    </div>


</div>
