<header>
  <div class="header-container">
    <div class="header-container_items">
      <h2 class="header-text header-item">Kids Chores</h2>
    </div>
    {{#link-to "dashboard.parent"}}
    <button class="button">I'm a Parent</button>
    {{/link-to}}


{{#link-to "dashboard.child"}}
<button class="button">I'm a Child</button>
{{/link-to}}

{{#link-to "login"}}
<button class="button">Logout</button>
{{/link-to}}
</div>
</header>

{{outlet}}
<div class="footer">
  <div class="footer-animation">
    <h2>Look at my pretty animation</h2>
    <div class="footer-information">
      <h2>Footer Info</h2>
    </div>
  </div>
</div>
