<header>
  <div class="header-container">
    <div class="header-container_items">
      <h2 class="header-text header-item">Kids Chores</h2>
    </div>

    <div class="button-box">
    <button class="menu-button">
      {{#link-to "dashboard.parent"}}I'm a Parent{{/link-to}}
    </button>

    <button class="menu-button">
      {{#link-to "dashboard.child"}}I'm a Child{{/link-to}}
    </button>

    <button class="menu-button">
      {{#link-to "login"}}Logout{{/link-to}}
    </button>
  </div>
  </div>
</header>

<div class="footer">
  <div class="footer-animation">
    <img class="logo" src="https://cdn.evbuc.com/images/11170117/33265003369/1/logo.png" alt="">
    <p class="title">Earn Rewards for Chores!!</p>
  </div>
  {{outlet}}
    <div class="footer-information">
      <h2>Footer Info</h2>
    </div>
  </div>
