<header>
  <div class="header-container">
    <div class="header-container_items">
      <h2 class="header-text header-item">Kids Chores</h2>
    </div>
  </div>
</header>

<div class="footer">
  <div class="footer-animation">
    <span>
    <img class="logo" src="kclogo1.png" alt="">{{!-- <p class="title">Earn Rewards for Chores!!</p> --}}
    </span>
  </div>
  {{outlet}}
  <div class="footer-information">
    <h2>Footer Info</h2>
  </div>
</div>

{{md-modal-container}}
