<h1>Add Children</h1>

{{#simple-form onsubmit=(action addChild) as |formValues|}}
  {{input placeholder="Username" value=formValues.username}}
  {{input placeholder="Password" value=formValues.password}}

  <p>
    {{#link-to "dashboard.parent.children.index"}}CXL{{/link-to}}
    <button>Submit</button>
  </p>
{{/simple-form}}
