  <ul>
    {{#each model as |purchase|}}
    <li class="chore-item">{{purchase.points}}</li>
    <li class="chore-item">{{purchase.name}}</li>
    <li class="chore-item">{{purchase.reward}}</li>
    {{/each}}
  </ul>
