Rewards Page - Pick your item below
<h1>Rewards</h1>

<table>
  <thead>
    <tr>
    <th>Reward</th>
    <th>Points</th>
    <th>Quantity</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
  {{#each model.rewards as |reward|}}
    <tr>
      <td>{{reward.name}}</td>
      <td>{{reward.points}}</td>
      <td></td>
      <td></td>
    </tr>

  {{/each}}
</tbody>
</table>
