<div class="main">
  <div class="login-form">
    <form class="form-field">
      <p class="form-inputs">
        <label class="input-label">Email:</label>
        {{input class="input-field" type="text" placeholder="Email" value=email}}
      </p>

      <p class="form-field">
        <label class="input-label">Password:</label>
        {{input class="input-field" type="password" placeholder="Password" value=password}}
      </p>


        <button class="login-btn">Login</button>


      {{#link-to "sign-up"}}
        <button class="signup-btn">SignUp</button>
      {{/link-to}}
    </form>
  </div>
</div>



{{outlet}}
