<div class="main">
  <div class="login-form">
    {{#simple-form class="form-field" onsubmit=(action loginUser) as |formValues|}}
      <p class="form-inputs">
        <label class="input-label">Email:</label>
        {{input class="input-field" type="text" placeholder="Email" value=formValues.email}}
      </p>

      <p class="form-field">
        <label class="input-label">Password:</label>
        {{input class="input-field" type="password" placeholder="Password" value=formValues.password}}
      </p>


      <button class="login-btn">Login</button>


      {{#link-to "sign-up"}}
        <button class="signup-btn">SignUp</button>
      {{/link-to}}
    {{/simple-form}}
  </div>
</div>



{{outlet}}
