{{outlet}}

{{#simple-form onsubmit=(action assignChore model.chore) as |formValues|}}
  {{model.children.length}}
  {{md-select content=model.children
    value=formValues.childId
    label="Child"
    prompt="Please choose a RugRat..."
    optionLabelPath="content.username"
    optionValuePath="content.id" class="col s12"}}

  <button>Assign</button>
{{/simple-form}}
