<div class="sign-up">
{{#simple-form class="" onsubmit=(action createNewUser) as |formValues|}}

  <p>
    <label>Email</label>
    {{input type="text" name="Email" value=formValues.email}}
  </p>

  <p>
    <label>Password</label>
    {{input type="password" name="Password" value=formValues.password}}
  </p>

  <p>
    <label>User Name</label>
    {{input type="text" name="User Name" value=formValues.username}}
  </p>

  <p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    </button>
  </p>
  {{#link-to "login"}}
  <button class="waves-effect waves-light btn">Cancel</button>
  {{/link-to}}

{{/simple-form}}
</div>
