<div class="about-container">
  <h2>About</h2>
  <p>A question parents know all too well. How do you persuade your child to do chores around the house? There are no easy answers, but we believe we have a solution with Kids Chores. What is Kids Chores? It should be a one stop shop to chore persuasion.
    With it, you can assign chores to your children. Each chore has an assigned prize. Upon completion, and the parent verification, the child will earn a reward. We have included the ability to customize chores for each child. Your kids will jump at
    the opportunity to complete tasks and earn real, tangible prizes.
  </p>
</div>
<div class="parent-header">
  <h2>Parent Header</h2>
  <div class="button-box">

    {{#link-to "dashboard.parent"}}
      <button class="menu-button">Home</button>
    {{/link-to}}

    {{#link-to "dashboard.parent.children"}}
      <button class="menu-button">Children</button>
    {{/link-to}}

    {{#link-to "dashboard.parent.chores"}}
      <button class="menu-button">Chores</button>
    {{/link-to}}

    {{#link-to "dashboard.parent.rewards"}}
      <button class="menu-button">Reward</button>
    {{/link-to}}

    <button class="menu-button">Log Out</button>
  </div>
</div>
<div class="content-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <h2>Parent Dashboard</h2>
    </div>

  </div>
  <div class="main-content">
    <div class="main-items">
      {{outlet}}
      <img src="" alt="">

    </div>
  </div>
</div>
