<div class="about-container">
  <h2>About</h2>
  <p>this is our about text. We shall discuss the thought process and creation of project.</p>
</div>
<div class="parent-header">
  <h2>Parent Header</h2>
  <div class="button-box">

    <button class="menu-button">Child</button>

    {{#link-to "dashboard.parent.chores"}}
      <button class="menu-button">Chores</button>
    {{/link-to}}

      {{#link-to "dashboard.parent.new-reward"}}
        <button class="menu-button">Reward</button>
      {{/link-to}}

      <button class="menu-button">Log Out</button>
  </div>
</div>
<div class="content-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <h2>Parent Dashboard</h2>

      {{outlet}}

    </div>
  </div>
  <div class="main-content">
    <div class="main-items">

      <img src="" alt="">
    </div>
  </div>
</div>
