
<div class="parent-header">
  {{!-- <h2>Parent Header</h2> --}}
  <div class="button-box">

    {{#link-to "dashboard.parent"}}
      <button class="waves-effect waves-light btn">Home</button>
    {{/link-to}}

    {{#link-to "dashboard.parent.children.new"}}
      <button class="waves-effect waves-light btn">Children</button>
    {{/link-to}}

    {{#link-to "dashboard.parent.chores"}}
      <button class="waves-effect waves-light btn">Chores</button>
    {{/link-to}}

    {{#link-to "dashboard.parent.rewards"}}
      <button class="waves-effect waves-light btn">Reward</button>
    {{/link-to}}
    {{#link-to "logout"}}
    <button class="waves-effect waves-light btn">Log Out</button>
    {{/link-to}}
  </div>
</div>
<div class="content-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <h2>Parent Dashboard</h2>
      {{#link-to "dashboard.parent.children.index"}}<button class="waves-effect waves-light btn">Child List</button>{{/link-to}}

    </div>

  </div>
  <div class="main-content">
    <div class="main-items">
      {{outlet}}
      <img src="" alt="">

    </div>
  </div>
</div>
