{{!-- <h1>Edit Chore</h1>

{{#simple-form startingValues=model onsubmit=(action editAssignment model) as |formValues|}}
  {{input placeholder="Name" value=formValues.name}}
  {{input placeholder="Description" value=formValues.description}}
  {{input placeholder="Avatar" value=formValues.avatar}}
  {{input placeholder="Points" value=formValues.points}}
  <p>
    {{#link-to "dashboard.child"}}Cancel{{/link-to}}
    <button>SAVE</button>
  </p>

{{/simple-form}} --}}
